.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.main {
	padding: 20px;
	padding-top: 0;

	position: relative;
}

.main__flex-section {
	display: flex;
	justify-content: space-between;
}

.main__board {
	width: 70vw;
	height: 85vh;
	overflow-y: auto;

	border: 1px solid black;
	padding: 20px;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card {
	width: 400px;
	height: 300px;
	overflow-y: auto;

	border: 1px solid black;

	padding: 10px;
	margin: 10px;

	position: relative;

	cursor: pointer;
}

.card__title {
	margin-top: 40px;
}

.favorite-star {
	position: absolute;
	right: 10px;
}

.favorite-card .favorite-star {
	fill: gold;
}

.favorite-star:hover {
	fill: gold;
	cursor: pointer;
}

.magnifier {
	position: absolute;
	left: 10px;
}

.magnifier:hover {
	width: 24px;
	height: 24px;

	fill: blue;
}

.main__card-full-section {
	width: 70vw;
	height: 29vh;
	overflow-y: auto;

	border: 1px solid black;
	padding: 20px;
	margin-top: 20px;
}

.main__card-favorite-block {
	width: 23vw;
	height: 87vh;
	overflow-y: auto;

	border: 1px solid black;
	padding: 10px;
}

/* card-modal */

.modal {
	width: 500px;
	min-height: 300px;

	padding: 20px;
	margin: 0 auto;

	background-color: floralwhite;

	border: 1px solid black;

	position: absolute;
	left: 40px;
	top: 40px;
}

.modal .favorite-card .favorite-star {
	fill: gold;
}

.close-button {
	background-color: transparent;
	cursor: pointer;
}
