.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.main {
	padding: 20px;
	padding-top: 0;

	position: relative;
}

.search {
	margin: 10px 0 20px 85%;
	display: block;
}

.main__flex-section {
	display: flex;
	justify-content: space-between;
}

.main__board {
	width: 93vw;
	height: 70vh;
	overflow-y: auto;

	border: 1px solid black;
	padding: 20px;
	margin-bottom: 10px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.button {
	border-radius: 3px;
	margin-bottom: 10px;

	cursor: pointer;
}

.active {
	background-color: black;
	color: #fff;
	border: 3px solid black;
}

.card {
	width: 400px;
	height: 300px;
	overflow-y: auto;

	border: 1px solid black;

	padding: 10px;
	margin: 10px;

	position: relative;

	cursor: pointer;
}

.card__title {
	margin-top: 40px;
}

.favorite-star {
	position: absolute;
	right: 10px;
}

.favorite-card .favorite-star {
	fill: gold;
}

.favorite-star:hover {
	fill: gold;
	cursor: pointer;
}

.magnifier {
	width: 22px;
	height: 22px;

	background: transparent;
	background-image: url("../images/magnifier.svg");
	border: none;

	position: absolute;
	left: 10px;
}

.magnifier:hover {
	background-image: url("../images/magnifier-blue.svg");

	cursor: pointer;
}

.recycle-bin {
	width: 22px;
	height: 22px;

	background: transparent;
	background-image: url("../images/remove-garbage-icon.svg");
	border: none;

	position: absolute;
	left: 40px;
}

.recycle-bin:hover {
	background-image: url("../images/remove-garbage-icon-blue.svg");

	cursor: pointer;
}

.recycle-bin:hover .st0 {
	stroke: blue;
}

.main__card-full-section {
	width: 70vw;
	height: 29vh;
	overflow-y: auto;

	border: 1px solid black;
	padding: 20px;
	margin-top: 20px;
}

.main__card-favorite-block {
	width: 23vw;
	height: 80vh;
	overflow-y: auto;

	border: 1px solid black;
	padding: 10px;
}

/* card-modal-edit */

:root {
	--modalWidth: 500px;
}

.modal {
	width: var(--modalWidth);
	min-height: 300px;

	padding: 20px;
	margin: 0 auto;

	background-color: floralwhite;

	border: 1px solid black;

	position: absolute;
	left: 40px;
	top: 40px;
}

.modal .favorite-card .favorite-star {
	fill: gold;
}

.close-button {
	background-color: transparent;
	cursor: pointer;
}

.serched-text {
	background-color: gold;
}

/* card-modal-new */

.add-card-button {
	cursor: pointer;
}

.add-card-form {
	padding: 15px;
	background-color: darkgrey;
	border: 1px solid black;

	display: block;

	position: absolute;
	top: 5%;
	left: calc(50% - var(--modalWidth) / 2);
}

.add-card-form label {
	display: block;
}

#add-card-form__title {
	width: 100%;
	box-sizing: border-box;

	margin-top: 5px;
	margin-bottom: 20px;
}

#add-card-form__description {
	width: 100%;
	box-sizing: border-box;

	margin-top: 5px;
	margin-bottom: 20px;
}

.add-card-form__buttons {
	display: flex;
	justify-content: flex-end;
}

.card-custom {
	background-color: lightgray;
}
